---
import "../styles/components/about-home.css";
import Button from "./Button.astro";
import CardTerminal from "../layouts/CardTerminal.astro";
import CardAbout from "./CardAbout.astro";
import TitleSpan from "./atoms/TitleSpan.astro";
---

<section class="about" id="about">
	<TitleSpan  text1="Who is DEV" span="FOX" text2="?" />
	<div class="about__container">
		<CardAbout />
		<div class="terminal__container">
			<CardTerminal animation="fade-left">
				<h3 class="terminal__content terminal__content--h3">โฅ Abdelhamed-Mohammed</h3>
				<p class="terminal__content terminal__content--p">โฅ ููุบูเขชู ุจ ุฌูุงููุง ุณููฺฏเขชูุจุช. ูุฏุงุฆููุง ุงุณูุนู ูููุชูุฏู ูุงูุชูุทููเขช ูู ูููุณู </p>

				<h3 class="terminal__content terminal__content--h3">
					โฅ <span class="terminal__content terminal__content--span span__dark">ูุง ุงููุฐู ูููููุฒููุ</span>
				</h3>
				<p class="terminal__content terminal__content--p">
					โฅ ุงููุง<span class="terminal__content--span span__dark">ุงุญูุจ ููุง ุงูููู ุจูู ุจุตูุฏู ๐</span>ูููุง ุงุนุชูุฏ ุงู ุงููุฒุฌ ุจูู ุงูุจุฑูุฌู ูุงููุชุนู ูุงูุชเขชููู ูุฃูุฑ ุนุธูู ููุชุงุฆุฌู ูููู ุงู ุชููู ุณุงุญเขชู 
					 <span class="terminal__content--span span__dark">
				</p>
				<div class="about__contactar">
					<Button href="/about" text="ุดุงูุฏ ุงููุฒูุฏ" />
				</div>
			</CardTerminal>
		</div>

	</div>
</section>
