---
import MainLogo from "./MainLogo.astro";
import "../styles/components/footer.css"

---
<footer class="footer">
	<div class="footer__container">
		<MainLogo/>
		<div class="foooter__cajas">
		</div>
		<div class="foooter__cajas">
			<ul class="footer__caja__links">
				<li class="footer__links"><a href="/blog" class="footer__link"
						target="_blank">Blog</a></li>
				<li class="footer__links"><a href="https://www.youtube.com/@X_MR_FOX_X"
						class="footer__link" target="_blank" rel="nofollow noreferrer noopener"
						data-section="footer" data-value="instagram">Youtube channel</a></li>
				<li class="footer__links"><a href="https://www.instagram.com/x_mr.fox_x?r=nametag" class="footer__link"
						target="_blank" rel="nofollow noreferrer noopener" data-section="footer"
						data-value="cursosPlatzi">Instagram</a></li>
				<li class="footer__links"><a href="https://www.tiktok.com/@medo.hackerz?_t=8jb8pn4rKIX&_r=1"
						class="footer__link" target="_blank" rel="nofollow noreferrer noopener"
						data-section="footer" data-value="Tiktok">My Tiktok account </a></li>
			</ul>
		</div>
		<div class="foooter__cajas">
			<ul class="footer__caja__iconos">
				<li class="footer__iconos__lista ">
					<a href="mailto: mrfox20007@gmail.com" rel="nofollow noreferrer noopener">
						<img class="footer__iconos mail__footer icono__dark" src="/svg/mail (1).svg"
							alt="mail icon">
					</a>
				</li>
				<li class="footer__iconos__lista ">
					<a href="https://www.linkedin.com/in/medo-hackerz-1295592b2" target="_blank"
						rel="nofollow noreferrer noopener">
						<img class="footer__iconos linkedin__footer icono__dark" src="/svg/linkedin.svg"
							alt="Linkedin icon">
					</a>
				</li>
				<li class="footer__iconos__lista ">
					<a href="https://github.com/medofox123" target="_blank" rel="nofollow noreferrer noopener">
						<img class="footer__iconos  icono__dark" src="/svg/github-light.svg"
							alt="github icon">
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
